DATABASE_URL="postgresql://user:password@localhost:5432/collectiverse"
JWT_SECRET="change-this-to-a-random-secret-min-32-chars"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
AWS_S3_BUCKET="collectiverse-assets"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
NEXT_PUBLIC_GA_ID=""
